body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}
/* top section */
.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 200px;
}

.mountain {
  width: 45%;
}

.pro {
  text-decoration: underline red;
}

h1 {
  color: #66bfbf;
  font-size: 562%;
  margin: 50px auto 0 auto;
  font-family: "Dancing Script", cursive;
}

h2 {
  color: #66bfbf;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999e;
  font-family: "Roboto Mono", monospace;
}

p {
  line-height: 2rem;
  font-weight: 2rem;
}

.top-cloud {
  width: 12%;
  position: absolute;
  right: 300px;
  top: 40;
}

.bottom-cloud {
  width: 12%;
  position: absolute;
  left: 424px;
  top: 412px;
}

/* Middle container */
.middle-container {
  background-color: white;
  margin: 100px 0;
}
.profile-heading{
  padding: 10%;
}
.intro {
  width: 30%;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 90px auto 90px auto;
  text-align: left;
  line-height: 2;
}

.chess-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.contact-me {
  margin-bottom: 25px;
}

.contact-msg {
  width: 40%;
  margin: 40px auto 60px;
}

.pc-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

hr {
  border: dotted grey 6px;
  border-bottom: none;
  width: 4%;
  margin: 110px auto;
}
.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}
.cactus {
  width: 15%;
  margin: auto;
}

.cactus:hover {
  width: 20%;
  background-color: red;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #3b2e3b;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

/* footer section */
.footer-link {
  padding: 20px;
  color: #11999e;
  font-style: oblique;
  text-decoration: none;
  margin: auto;
}

.footer-link:hover {
  color: #eaf6f6;
}

.c {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
